.primary {
    background-color: rgb(0, 81, 255);
    color: white;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    border: none;
    font-size: 0.8em;
    margin: 0.1em;
}

table {
    width: 100%;
    border-collapse: collapse;
    th,td{
        padding: 0.3em;
      }
    tr {
        border-bottom: 1px solid rgb(73, 73, 73);
    }
    tr{
        background-color: rgba(255, 201, 243, 0.473);
        height: 100%;
    }
}
.boo::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:
        radial-gradient(circle at 20% 50%, rgba(255, 0, 234, 0.348) 0%, transparent 25%),
        radial-gradient(circle at 80% 50%, rgba(0, 157, 255, 0.396) 0%, transparent 25%),
        radial-gradient(circle at 50% 50%, rgba(90, 0, 200, 0.267) 0%, transparent 20%);
}