
.primary {
    background-color:rgb(38, 118, 255);
    color: rgb(255, 255, 255);
    padding: 0.5em 1em;
    border-radius: 0.3em;
    border: none;
    font-size: 0.8em;
    margin: 0.1em;
}

table {
    width: 100%;
    border-collapse: collapse;

    th {
        background-color: rgba(255, 153, 0, 0.961);
        color:rgb(38, 118, 255);
        text-align: right;
    }

    th,
    td {
        padding: 0.2em;
    }

    th {
        border-top: 1px solid rgb(211, 211, 211);
    }

    tr {
        color: rgb(182, 164, 151);
        border-bottom: 1px solid rgb(0, 0, 0);
        background-color: rgb(249, 242, 227);

    }

    tr:nth-of-type(2n+1) {
        color:rgb(249, 242, 227);
        background-color: rgb(182, 164, 151);
    }
}
.ghofl{
    background-color: rgb(67, 133, 64);
}