.sidebar {
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgb(249, 195, 255);
    width: 190px;
    height: 100vh;
    font-size: 1.5em;

    a {
        display: block;
        color: rgb(51, 111, 251);
        padding: 0.2em 0.5em;
        text-decoration: none;
        cursor: pointer;
        margin-top: 1.3em;
        margin-left: 1em;
        border-radius: 1em;
        width: 120px;
        margin-right: 0.9em;
        background-color: rgba(187, 109, 180, 0.201);
    }

    a::before {
        content: '💎';
    }

    a:hover {
        background-color: rgba(148, 201, 255, 0.667);
        color: aliceblue;
        border-radius: 1em;
    }
}

.content {
    margin-right: 200px;
    padding: 0.5em;
    font-size: 1.5em;
}