body{
    background-color: rgb(93, 108, 119);
}

@font-face {
    font-family: pe;
    src: url('/fonts/IRANSans.woff');
}

* {
    font-family: pe;
}
.alert{
    background-color: rgb(247, 189, 189);
    border: 1px solid rgb(255, 40, 40);
    padding: 1em;
    border-radius: 0.2em;
    margin: 1em;
    text-align: center;
}